body {
	background-color: #1c1b1b;
}

h1 {
	color: #fff;
}

#board {
  margin-top: 10px;
  background-color: #333;
}
#board .hover:hover{
	cursor: pointer;
	background-color: #000;
}

.box {
  border: 1px solid black;
  height: 150px;
}

.o {
	color: green;
}

.